@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;700&display=swap');

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --background-color: white;
  --text-color: black;
  --button-background: #f8f9fa;
  --button-text-color: #0c0f48;
  --select-background: rgb(238, 238, 238);
  --select-text-color: rgb(46, 50, 65);
  --table-head-text: #2e3241;
  --table-row-bg: #eee;

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body.dark-mode {
  --background-color: #191d28;
  --text-color: white;
  --button-background: #2e3241;
  --button-text-color: #fff;
  --select-text-color: rgb(238, 238, 238);
  --select-background: #2e3241;
  --table-head-text: #ffffff80;
  --table-row-bg: #2e3241
}
.app{
  background-color: var(--background-color);
}

body {
  padding-top: 20px;
  height: 100%;
  background-color: var(--background-color);
  color: var(--text-color);
  transition: background-color 0.3s, color 0.3s;
  overflow-x: hidden;
  padding-bottom: 40px;
}

button {
  background-color: var(--select-background);
  color: var(--select-text-color);
  border: none;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  border-radius: 10px;
  padding: 6px 20px;
  font-size: 16px;
  appearance: none;
  font-family: Oswald, sans-serif;
  font-weight: 300;
}

button:focus {
  outline: none;
}

select {
  background-color: var(--select-background);
  color: var(--select-text-color);
  border: none;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  border-radius: 10px;
  padding: 6px 30px 6px 20px;
  font-size: 16px;
  appearance: none;
  font-family: Oswald, sans-serif;
  font-weight: 300;
}

.dropdown {
  width: 70px;
  position: relative;
}

.dropdown span {
  content: '';
  position: absolute;
  top: 50%;
  right: 8px;
  transform: translateY(-50%);
  width: 18px;
  height: 18px;
  color: var(--select-text-color);
  pointer-events: none;
}

select:focus {
  outline: none;
}

option {
  background-color: rgb(238, 238, 238);
  color: black;
}

option:checked {
  background-color: rgb(238, 238, 238);
  color: black;
}

.connect {
  width: 150px;
  text-align: center;
  height: 40px;
  justify-items: center;
  background-color: #3dc6c1;
  border-radius: 8px;
  font-family: Oswald, sans-serif;
  cursor: pointer;
  font-size: 17px;
}

.BTT {
  font-weight: 200;
  color: rgb(136, 136, 136);
  margin-bottom: 0px;
  letter-spacing: 0.75px;
  font-family: Oswald, sans-serif;
  font-size: 28px;
}

.text-body {
  font-weight: 400;
  color: rgb(61, 198, 193);
  text-align: center;
  font-size: 32px;
  font-family: Oswald, sans-serif;
}

.text-bottom {
  color: #888;
  text-align: center;
  font-size: 20px;
  font-weight: 200;
}

.text-main {
  font-weight: 400;
  color: rgb(255, 255, 255);
  text-align: center;
  font-size: 72px;
}

table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
  border-collapse: separate;
  border-spacing: 0 10px;
  padding: 20px;
}

thead tr th {
  color: var(--table-head-text);
  cursor: pointer;
  padding: 10px;
  font-size: 24px;
  text-align: left;
  font-weight: 400;
  letter-spacing: 1px;
  font-family: Oswald, sans-serif;
}

thead tr th:first-child {
  padding-left: 25px;
}

tbody tr {
  background-color: var(--table-row-bg);
  border-radius: 10px;
}

tbody tr td {
  color: var(--text-color);
  font-size: 24px;
  text-align: left;
  font-weight: 400;
  vertical-align: middle;
  padding: 12px 0px;
  font-family: Oswald, sans-serif;

}

tbody tr td:first-child {
  padding-left: 25px;
}

tbody tr td:last-child {
  padding-left: 25px;
}


tbody tr td:first-child {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

tbody tr td:last-child {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}


@media screen and (max-width:1160px) {
  .headid {
    width: 70px;
  }

  .volume {
    width: 100px;
  }

  .base {
    width: 150px;
  }

  .name {
    width: 150px;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  height: 72px
}

.header-img {
  height: 44px;
}

@media screen and (max-width:1000px) {
  .header {
    gap: 15px;
    height: 170px;
    flex-direction: column;
  }
  .name{
    width: 100px;
  }
  .headid{
    width: 60px;
  }
  .volume{
    width: 80px;
  }
}

@media screen and (max-width:600px) {
  .text-main {
    font-size: 20px;
  }

  .text-bottom {
    font-size: 8px;
  }

  .text-body {
    font-size: 14px;
  }

  tbody tr td {
    font-size: 14px;
    padding: 5px 0;
  }

  thead tr th {
    font-size: 14px;
    padding: 5px;
  }

  .BTT {
    font-size: 12px;
  }

  .name {
    width: 80px;
  }

  .base {
    width: 80px;
  }

  .volume {
    width: 70px;
  }

  .headid {
    width: 50px;
  }
}

.body {
  margin-top: 20px;
}

@media screen and (max-width:520px) {
  table {
    padding: 0;
  }

  tbody tr td:first-child {
    padding-left: 10px;
  }

  thead tr th:first-child {
    padding-left: 10px;
  }

  tbody tr td:last-child {
    padding-left: 10px;
  }

  .headid {
    width: 30px;
  }

  .name {
    width: 70px;
  }

  .volume {
    width: 60px;
  }

  .base {
    width: 70px;
  }

  tbody tr td {
    font-size: 12px;
    padding: 3px 0;
  }

  thead tr th {
    font-size: 12px;
    padding: 3px;
  }

  .BTT {
    font-size: 10px;
  }

  .header-img {
    height: 30px;
  }

  .dropdown {
    width: 40px;
  }

  .dropdown span svg {
    position: absolute;
    top: 60%;
    right: 2px;
    transform: translateY(-50%);
    width: 8px;
    height: 8px;
  }

  select {
    border-radius: 8px;
    padding: 3px 12px 3px 10px;
    font-size: 8px;
    appearance: none;
    font-family: Oswald, sans-serif;
    font-weight: 300;
  }

  button {
    width: 40px;
    font-size: 8px;
    padding: 3px 7px;
  }

  .buybtc {
    margin-left: 0;
  }

  .header {
    height: 120px;
    gap: 5px;
  }

  .body {
    margin-top: 0px !important;
  }

  .connect {
    width: 80px;
    font-size: 8px;
    height: 20px;
  }

  .timer {
    height: 20px !important;
    width: 20px !important;

    font-size: 10px;
  }

  label {
    cursor: pointer;
    text-indent: -9999px;
    width: 30px!important;
    /* Width adjusted to 60px */
    height: 17px!important;
    /* Height adjusted to 34px */
    display: block;
    border-radius: 100px;
    position: relative;
    border: 1px solid grey;
  }

  label:after {
    top: 2.2px !important;
    /* Add space from the top */
    left: 2.5px !important;
    /* Initial position on the left */
    width: 12px!important;
    /* Adjusted width to fit inside the 60px container */
    height: 12px!important;
    /* Adjusted height to fit inside the 34px container */
  }

  input:checked+label:after {
    left: calc(100% - 2.5px) !important;
    /* Moves the circle to the right when checked */
    transform: translateX(-100%);
  }
}

.timer {
  height: 38px;
  width: 38px;
}